.all .guide a{
    font-size: smaller ;
    font-weight:bold ;
}

.all .guide a:link, .all .guide a:active{
    color: black;
}

.all{
    width: 100%;
}

.all .content_guide{
    height: 25px;
    -webkit-box-shadow: #E0E0E0 0px 0px 1px;
    -moz-box-shadow: #E0E0E0 0px 0px 1px;
    box-shadow: #E0E0E0 0px 0px 1px;
}

.all .content_guide .guide{
    position: absolute;
    top: 0;
    right: 30px;
}

.all .search_content{
    -webkit-box-shadow: #E0E0E0 0px 0px 1px;
    -moz-box-shadow: #E0E0E0 0px 0px 1px;
    box-shadow: #E0E0E0 0px 0px 1px;
    height: 150px;
    position: relative;
    top:2px;
}

.all .search_content .searchbox{
    height:130px;
    width: 850px;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}

.all .search_content .searchbox .image1{
    position: absolute;
    left: 0
}

.all .search_content .searchbox .shuru{
    width: 439px;
    height: 36px;
    position: absolute;
    left:300px;
    top:40%;
}

.all .search_content .searchbox .ok{
    width: 100px;
    height: 36px;
    color: white;
    background: #b20a2c;
    border: 0;
    font-size:medium;
    position: absolute;
    left: 741px;
    top:40%;
    text-align:center
}

.all .container{
    background: #EFEFEF;
    position: relative;
    top:  2px;
    padding-top: 40px;
}

.all .container .item_content {
    background: #FFFFFF;
    height: auto;
    width: 1100px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
}

.all .container .item_content .sort_tab {
    padding-top: 8px;
    padding-left: 8px;
}

.all .container .item_content .item_goods
{
    position: relative;
    margin-top: 10px;
    height: 180px;
    overflow:hidden;
}

.all .container .item_content .item_goods .pic
{
    margin-left: 8px;
    height: 160px;
    width: 160px;
    float:left;
}

.all .container .item_content .item_goods .pic .product
{
    height: 160px;
    width: 160px;
}

.all .container .item_content .item_goods .title
{
    margin-top: 22px;
    margin-left: 8px;
    width: 420px;
    float:left;
}

.all .container .item_content .item_goods .price
{
    margin-top: 18px;
    margin-left: 16px;
    width: 100px;
    float:left;
}

.all .container .item_content .item_goods .sale_comment
{
    margin-top: 24px;
    margin-left: 50px;
    width: 150px;
    float:left;
}

.all .container .item_content .item_goods .sale_comment .text_sale_comment
{
    color: #5a5a5a;
    font-size: 14px;
}

.all .container .item_content .item_goods .sale_comment .text_sale_comment a
{
    color: #005aa0;
}

.all .container .item_content .item_goods .shop
{
    margin-top: 18px;
    margin-right: 8px;
    width: 180px;
    float:right;
}

.all .container .item_content .item_goods .shop .icon
{
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-top: 6px;
    float:left;
}

.all .container .item_content .item_goods .shop .shop_title
{
    color: #5a5a5a;
    font-size: 14px;
}

.all .container .item_content .item_goods .shop .shop_origin
{
    margin-top: 4px;
    float: left;
    font-size: 14px;
    color: #5a5a5a;
}

.all .container  .nav_tab {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    width: 250px;
    height: 100px;
}

.all .container .nav_tab .nav_before {
    margin-top: 16px;
    float: left;
}

.all .container .nav_tab .current {
    margin-top: 16px;
    margin-left: 16px;
    float: left;
}

.all .container .nav_tab .nav_after {
    margin-top: 16px;
    margin-left: 16px;
    float: left;
}

.all .container .item_content .tip_product_detail {
    padding-top: 16px;
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
}

.all .container .item_content .parity_goods
{
    position: relative;
    height: 220px;
    width: 1000px;
    padding-top: 16px;
    padding-left: 8px;
}

.all .container .item_content .parity_goods .item_parity_goods
{
    height: 230px;
    box-sizing: border-box;
    width: 20%;
    float: left;
}

.all .container .item_content .parity_goods .item_parity_goods .pic
{
    height: 120px;
}

.all .container .item_content .parity_goods .item_parity_goods .product
{
    text-align: center;
    height: 120px;
    width: 120px;
}

.all .container .item_content .parity_goods .item_parity_goods .title
{
    text-align: center;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

.all .container .item_content .parity_goods .item_parity_goods .price
{
    text-align: center;
    margin-top: 4px;
}

.all .container .item_content .parity_goods .item_parity_goods .count
{
    text-align: center;
    margin-top: 4px;
}
