.all .guide a{
    font-size: smaller ;
    font-weight:bold ;
}

.all .guide a:link, .all .guide a:active{
    color: black;
}

.all{
    width: 100%;
}

.all .content_guide{
    -webkit-box-shadow: #E0E0E0 0px 0px 1px;
    -moz-box-shadow: #E0E0E0 0px 0px 1px;
    box-shadow: #E0E0E0 0px 0px 1px;
    height: 150px;
    margin-top:100px;
    min-width: 1000px;
}

.all .content_guide .guide{
    text-align: center;

    height:35px;
    box-sizing: border-box;
    width: 20%;
    float: left;
}


.all .container  .nav_tab {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    width: 350px;
    height: 100px;
}

.all .container .nav_tab .nav_first {
    margin-top: 16px;
    float: left;
}

.all .container .nav_tab .nav_before {
    margin-top: 16px;
    margin-left: 16px;
    float: left;
}

.all .container .nav_tab .current {
    margin-top: 16px;
    margin-left: 16px;
    float: left;
}

.all .container .nav_tab .nav_after {
    margin-top: 16px;
    margin-left: 16px;
    float: left;
}

.all .container .nav_tab .count {
    margin-top: 16px;
    margin-left: 16px;
    float: left;
}
